@import url('https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	}
ul{
		list-style: none;
}
.header h1{
	color: #262626;
	font-family: "Cormorant Infant";
	font-size: 36px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.18px;
}
.header p{
	color: #595959;
	font-family: "Cormorant Infant";
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.08px;
}
.navbar-light .navbar-nav .nav-link{
	color: #262626;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.08px;
}
.navbar-light .navbar-nav .nav-link.active{
	color: #48974c;
}
.activated {
	border-bottom: 2px solid #fff;

}
.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}
.navbar-toggler span {
   display: block;
   background-color: #000;
   height: 2px;
   width: 40px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    bottom: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.navbar-toggler {
	border:none;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #48974c;
}
.header-img{
	background: url(../img/header.png) no-repeat;
	background-size: cover;
}
.invite h2{
	color: #404040;
	font-family: "Cormorant Infant";
	font-size: 60px;
	font-weight: 700;
	line-height: 60px;
	letter-spacing: 0.3px;
}
.invite p{
	color: #404040;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 28px;
	letter-spacing: 0.09px;
}
.relative {
	position: relative;
}
.owl-dot.active{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	opacity: 1;
}
.owl-dot{
	width: 13px;
	height: 13px;
	border-radius: 50%;
	background-color: #fff !important;
	opacity: 0.6;
	margin-right: 0.7rem;
}
.owl-dots{
	margin-left: 2.6rem;
	margin-top: 1rem;
}
.date{
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 4px;
	vertical-align: middle;
	text-transform: uppercase;
	color: #a6a6a6;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.07px;
	margin-top: 1rem;
}
.news-article{
	overflow: hidden;
}
.news-article h3{
	color: #262626;
	font-family: "Cormorant Infant";
	font-style: italic;
	font-size: 30px;
	font-weight: 600;
	line-height: 24px;
	letter-spacing: 0.15px;
}
.news-article h4{
	color: #262626;
	font-family: "Cormorant Infant";
	font-style: italic;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.12px;
}
.news-article a{
	color: #48974c;
	font-size: 12px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.06px;
}
.news-article p{
	color: #737373;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 26px;
	letter-spacing: 0.08px;
}
.news-bottom .more a{
	text-decoration: none;
	color: #48974c;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.07px;
	border: 1px solid #48974c;
	padding: 15px 30px;
	margin-right: 10em;
}

.news-bottom li{
	min-width: 10px;
	min-height: 10px;
	margin-left: 1em;
}
.news-bottom li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -128px;
}
.news-bottom li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -80px;
}
.news-bottom li+li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -105px;
}
.news-bottom li+li+li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -26px;
}
.news-bottom li+li+li+li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -50px;
}
.news-bottom li+li>a:hover{
	background-position: 0 -256px;
}
.news-bottom li+li+li>a:hover{
	background-position: 0 -209px;
}
.news-bottom li+li+li+li>a:hover{
	background-position: 0 -234px;
}
.news-bottom li+li+li+li+li>a:hover{
	background-position: 0 -155px;
}
.news-bottom li+li+li+li+li+li>a:hover{
	background-position: 0 -180px;
}
.page-item.active .page-link{
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
	background-color: #449653;
	border: none;
}
.page-link{
	box-shadow: 0 0 18px rgba(0, 0, 0, 0.04);
	background-color: #ffffff;
	color: #262626;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.16px;
	padding: .7em 1.2em;
	border:none;
}
.page-item .page-link:hover{
	background-color: #449653;
	color: #ffffff;
}
.previous a{
	color: #ffffff;
	background-color: #48974c;
	text-transform: uppercase;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	letter-spacing: 0.07px;
	padding: 15px 45px;
}
.pagination li:nth-child(5) .page-link{
	color: #262626;
	font-family: "Proxima Nova";
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.16px;
}
.body-img{
	background: url(../img/body.png) no-repeat;
	background-size: cover;
}
.building {
	margin-top: 20%;
}
.building p{
	max-width: 212px;
	padding: 15px;
	background-color: #ffffff;
	color: #262626;
	font-family: "PT Sans";
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.09px;
}
.building a{
	background-color: #48974c;
	padding: 18px 10px;
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 700;
	line-height: 24px;
	text-transform: uppercase;
	letter-spacing: 0.07px;
	margin-left: -5px;
}
.social p{
	color: #262626;
	font-family: "Cormorant Infant";
	font-style: italic;
	font-size: 24px;
	font-weight: 600;
	line-height: 26px;
	letter-spacing: 0.12px;
}
.banner p{
	padding: 100px;
}
.footer{
	background-color: #404040;
}
.copyright{
	border-top: 1px solid #808080;
	color: #999999;
	font-family: "PT Sans";
	font-size: 14px;
	font-weight: 400;
	line-height: 20px;
	letter-spacing: 0.14px;
}
.foot-logo h2{
	color: #ffffff;
	font-family: "Cormorant Infant";
	font-size: 36px;
	font-weight: 700;
	line-height: 44px;
	letter-spacing: 0.18px;
}
.foot-logo p{
	color: #ffffff;
	font-family: "Cormorant Infant";
	font-style: italic;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.08px;
}
.foot-menu a{
	color: #ffffff;
	font-family: "PT Sans";
	font-size: 16px;
	font-weight: 400;
	line-height: 34px;
	text-transform: uppercase;
	letter-spacing: 0.08px;
	padding:0;
}
.foot-social li{
	min-width: 10px;
	min-height: 10px;
	margin-left: 1em;
}
.foot-social li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -128px;
}
.foot-social li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -80px;
}
.foot-social li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -105px;
}
.foot-social li+li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -26px;
}
.foot-social li+li+li+li+li>a{
	padding: 1px 11px;
	background: url(../img/icons/sprite.png) no-repeat;
	background-position: 0 -50px;
}
.foot-social li>a:hover{
	background-position: 0 -256px;
}
.foot-social li+li>a:hover{
	background-position: 0 -209px;
}
.foot-social li+li+li>a:hover{
	background-position: 0 -234px;
}
.foot-social li+li+li+li>a:hover{
	background-position: 0 -155px;
}
.foot-social li+li+li+li+li>a:hover{
	background-position: 0 -180px;
}
.counter{
	background: url(../img/count.png) no-repeat;
	padding: 10px 50px;
	margin-left: 6em;
}