@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@font-face {
	font-family: "Gobold CYR - LAT" ;
	src: url(../fonts/gobold.woff),
		url(../fonts/gobold.woff);
}
body {
	background-color: #0d0d0d;
/*	margin: 0 8%;*/
}

.nav-item a{
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	line-height: 24px;
	text-transform: uppercase;
	color: #ffffff !important;
}
.activated {
	border-bottom: 2px solid #fff;

}
#navbar1 li:hover a{
	border-bottom: 2px solid #fff;
}
.bg-red{
	background-color: #9e171d;
}

#bg-top {
	padding-top: 50px;
	transition: all .2s ease;
}
.header_tel {
	margin-bottom: 40px;
    margin-left: 80px;
    color: #fff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
}

.navbar-toggler:focus,
.navbar-toggler:active {
    outline: 0;
}

.navbar-toggler span {
   display: block;
   background-color: #fff;
   height: 2px;
   width: 40px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   left: 0;
   opacity: 1;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(3) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    top: 11px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
    bottom: 11px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
    opacity: 0.9;
}
.navbar-toggler {
	border:none;
}


.slide{
	z-index: 5;
}
#pagination{
	margin-top: 75px;
color: #4a4c4c;
font-family: "Gobold CYR - LAT";
font-size: 16px;
font-weight: 400;
text-transform: uppercase;
}
#pagination span{
	color: #82878a;
}

.backside{
	background-color: #131313;
	position: absolute;
	height: 110%;
	right: 0;
	bottom:0;
}
.relative{
	position: relative;
}
.backside h1{
	padding-left: 40%;
	padding-top: 12%;
	padding-bottom: 5%;
	color: #4a4c4c;
	font-family: "Gobold CYR - LAT";
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
}
.backside h1>span:nth-child(2){
	color: #82878a;
}
.backside h1>span:nth-child(1){
	border-bottom: 2px solid #4a4c4c;
}
.backside p{
	padding-left: 40%;
	padding-right: 10%;
	color: #82878a;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}
.bg-custom{
	background-color: #161616;
}
.contact{
color: #ffffff;
font-family: "Gobold CYR - LAT";
font-size: 40px;
font-weight: 400;
text-transform: uppercase;
}
.contact span{
	border-bottom: 1px solid #72171b;
}
.contact+p{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
margin-top: 15px;
}
.estimate{
color: #9e171d;
font-family: "Gobold CYR - LAT";
font-size: 40px;
font-weight: 400;
text-transform: uppercase;
}
.estimate span{
	border-bottom: 1px solid #ffffff;
	color: #ffffff;
}
.estimate+p{
	margin-top: 50px;
	margin-bottom: 20px;
color: #ffffff;
font-family: "Gobold CYR - LAT";
font-size: 40px;
font-weight: 400;
text-transform: uppercase;
}

.estimate+p+p{
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
}
.estimate+p+p+a{
color: #ffffff;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
text-transform: uppercase;
}
.form span{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
padding-right: 30px;
}
label.required:after
{
    color: #9e171d;
    content: " *";
}
.required{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
}
#exampleFormControlTextarea1{
	resize: none;
}
.test img{
	max-width: 50%;
}
.content{
color: #82878a;
font-family: "Open Sans";
font-size: 14px;
font-weight: 300;
margin-top: 15px;
}
.content+p{
	margin-top: 30px;
color: #9e171d;
font-family: "Gobold CYR - LAT";
font-size: 14px;
font-weight: 400;
}
.foot_menu h2{
color: #0e0e0e;
font-family: "Gobold CYR - LAT";
font-size: 25px;
font-weight: 400;
text-transform: uppercase;
}
.foot_menu span:first-child{
	color: #0e0e0e;
	border-bottom: 1px solid #9e171d;
}
.foot_menu span+span{
	color: #a32329;
}
#fm a{
color: #82878a!important;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
text-transform: uppercase;
}
#email{
color: #82878a;
font-family: "Open Sans";
font-size: 14px;
font-weight: 400;
text-decoration: underline;
text-transform: none!important;
}
.bg_foot{
	background-color: #e6e6e6;
}
.bg_foot a{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
margin-right: 15px;
}
.bg_foot a+a{
	color: #9e171d;
}
.copyright{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 400;
}
.form-control{
	border-radius: 0;
	border:none;
}
#sbmt{
	border-radius:0;
	padding: 10px 40px;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	text-transform: uppercase;
}
input[type="checkbox"]{
display: none;
}
input[type="checkbox"]+label{
position: relative;
padding: 10px 33px 10px 5px;
cursor: pointer;
}
input[type="checkbox"]+label:before{
	content: '';
  position: absolute;
  bottom: .8em;
  right: .7em;
  width: 1.1em;
  height: 1em;
  border: 1px solid #9e171d;
}
input[type="checkbox"]:checked+label:after{
	content: '';
  position: absolute;
   bottom: 1em;
  right: .7em;
  width: .7em;
  height: 1em;
  border-bottom: 2px solid #ffffff;
  border-right: 2px solid #ffffff;
  transform: rotate(40deg);
}
#vt{
border: 1px solid #4a4c4c;
background-color: transparent;
}
#vt option{
color: #82878a;
font-family: "Open Sans";
font-size: 13px;
font-weight: 300;
}
#sbmt:hover{
	background-color: #9e171d;
}
.container {
	width: 90%;
}
#bg-top .container{
	width: 100%;
}
@media screen and (min-width: 320px) {
	.select	select{
	appearance:none;
	position: relative;
	cursor: pointer;
	z-index: 5;
}
.select:before{
		content: '';
  position: absolute;
   bottom: 40%;
  left: 90%;
  width: .7em;
  height: .7em;
  border-bottom: 2px solid #9e171d;
  border-right: 2px solid #9e171d;
  transform: rotate(45deg);
}
.select:after{
			content: '';
  position: absolute;
   bottom: 0%;
  left: 85%;
  width: 10%;
  height: 100%;
  border-left: 1px solid #4a4c4c;
}

	.navbar-nav{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -.5rem!important;
		text-align: center;

			}
	.navbar-brand img{
		
		width: 205px;
		height: 40px;

	}
	.header_tel {
		display: none;
		margin-bottom: 0;
	}
	
	#bg-top .nav-item{
		border-top: .5px solid #b1454a;
		border-right: .5px solid #b1454a;
	}
	.active{
		border-bottom: none;
	}
	.backside{
		position: relative;
		display: block;
		background-color: #131313;
		overflow: hidden;
}
	.backside h1{
		padding: 5% 25%;
}
	.backside p{
		padding: 0 25%;
		text-align: left;
}
	.owl-carousel{
		width: 80%;
		margin-left: 7%;
	}
	.bg-merc{
	background: url(../img/features/merc.png) no-repeat;
	background-size: 300%;
	background-position: -600px -200px;
}	
	.bg-audi{
	background: url(../img/features/audi.png) no-repeat;
	background-size: 300%;
	background-position: -600px -400px;
}	
	.bg-brab{
	background: url(../img/features/brab.png) no-repeat;
	background-size: 300%;
	background-position: -400px -300px;
}	
.ftrs{
	height: 400px;
	padding-top: 50px;
	background-color: #151515;
	opacity: .8;
}
.ftrs h3{
	padding-bottom: 50px;
	text-align: center;
color: #ffffff;
font-family: "Gobold CYR - LAT";
font-size: 25px;
font-weight: 400;
text-transform: uppercase;
}

.ftrs h3>span{
border-bottom: 1px solid #ffffff;
}
.ftrs p{
color: #ffffff;
font-family: "Open Sans";
font-size: 14px;
font-weight: 300;
margin-top:15px;
padding-left: 15px;
padding-right: 15px;
}
.fleet-h{
	color: #9e171d;
	font-family: "Gobold CYR - LAT";
	font-size: 40px;
	font-weight: 400;
	text-transform: uppercase;
}
.fleet-h span{
	border-bottom: 1px solid #9e171d;
	color: #000000;
}
.fleet-h+p{
	color: #82878a;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
	margin-top: 15px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	visibility: hidden;
}
}
@media screen and (min-width: 576px) {
		.navbar-nav{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: -.5rem!important;
		text-align: center;

			}
	.navbar-brand img{
		
		width: 300px;
		height: 70px;

	}
	.header_tel {
		display: none;
		margin-bottom: 0;
	}
	
	#bg-top .nav-item{
		border-top: none;
		border-right: none;
	}
	.active{
		border-bottom: none;
	}

	.bg-merc{
	background-position: -300px 0px;
	background-size: 200%;
}	
	.bg-audi{
	background-position: -300px 0px;
	background-size: 200%;
}	
	.bg-brab{
	background-position: -300px 0px;
	background-size: 200%;
}	

}
@media screen and (min-width: 1200px) {
		.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	visibility: visible;
}
	.navbar-brand img{
		
		width: auto;
		height: auto;

	}
	.navbar-nav{
		display: flex;
		flex-wrap: wrap;
		margin-bottom: .5rem!important;
		text-align: center;

			}

	.activated {
	border-bottom: 2px solid #fff;

}
.backside{
	background-color: #131313;
	position: absolute;
	height: 110%;
	right: 0;
	bottom:0;
}
		.owl-carousel{
		margin-left: 0;
	}
	.backside h1{
	padding-left: 40%;
	padding-top: 12%;
	padding-bottom: 5%;
	color: #4a4c4c;
	font-family: "Gobold CYR - LAT";
	font-size: 25px;
	font-weight: 400;
	text-transform: uppercase;
}
.backside p{
	padding-left: 40%;
	padding-right: 10%;
	color: #82878a;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 300;
	line-height: 24px;
}

		.bg-merc{
			background-size: 200%;
	background-position: -300px -50px;
}	
	.bg-audi{
		background-size: 200%;
	background-position: -150px -20px;
}	
	.bg-brab{
		background-size: 200%;
	background-position: -50px -150px;
}
.ftrs:hover{
		background-color: #6e0b0e;
}
.ftrs:hover span{
	color: #0e0e0e;
}	
}	
.ftrs a{
	position: absolute;
	min-width: 50px;
	min-height: 50px;
	bottom:30px;
	left: 30px;

}
.ftrs svg{
	width: 40px;
	height: 40px;
	position: absolute;
	bottom: 5px;
	left: 5px;
	color: #ffffff;
}
.testimonials .owl-nav{
	position: absolute;
	display: block!important;
	right: 0;
	top: -30%;
}
.slider .owl-nav{
position: absolute;
right: 20%;
bottom: 25%;
}
.fleet-slide{
width: 100%;
height: 5rem;
background-color: #9e171d;
opacity: 0.85;
position: absolute;
left: 0;
bottom: 0;
transform: scale(0);
}
.fleet-slide p{
	margin-bottom:0;
	margin-top: 3px;
	text-align: center;
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 13px;
	font-weight: 300;
}
#bmw{
	cursor: pointer;
}
#bmw:hover .fleet-slide{
	position: absolute;
	transition: transform .5s ease;
	transform: scale(1);
}
.signa{
color: #000000;
font-family: "Gobold CYR - LAT";
font-size: 25px;
font-weight: 400;
text-transform: uppercase;
text-align: center;
}
.fleets .owl-nav .owl-prev{
position: absolute;
left: -10%;
top: 30%;
}
.fleets .owl-nav .owl-next{
position: absolute;
right: -10%;
top: 30%;
}
.select	select{
	appearance:none;
	position: relative;
	cursor: pointer;
	z-index: 5;
}
.select:before{
		content: '';
  position: absolute;
   bottom: 40%;
  left: 62%;
  width: .7em;
  height: .7em;
  border-bottom: 2px solid #9e171d;
  border-right: 2px solid #9e171d;
  transform: rotate(45deg);
}
.select:after{
			content: '';
  position: absolute;
   bottom: 0%;
  left: 60%;
  width: 10%;
  height: 100%;
  border-left: 1px solid #4a4c4c;
}
}
@media screen and (max-width: 1350px){
	.fleets .owl-nav {
		display: none;
	}
}
.soc_menu{
	display: flex;
}
.soc_menu li{
	list-style-type: none;
}
.soc_menu li>a{
	display: block;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-image: url(../img/social/social.png);
	background-position: 0 0;
}
.soc_menu li+li>a{
	border-radius: 50%;
	width: 29px;
	height: 30px;
	background-image: url(../img/social/social.png);
	background-position: 0 -40px;
}
.soc_menu li+li+li>a{
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-image: url(../img/social/social.png);
	background-position: 0 -80px;
}